---
import {Icon} from "astro-iconify";
const social = [
    {
        label: "Github",
        icon: "lucide:github",
        href: "https://github.com/corentings",
    },
];
---

<footer class="border-t border-base-100 bg-base-200">
    <div
            class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col"
    >
        <p
                class="text-sm sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-base-content sm:py-2 sm:mt-0 mt-4"
        >
            © 2024 —
            <a
                    href="https://corentings.dev"
                    class="text-accent ml-1"
                    rel="noopener noreferrer"
                    target="_blank"
            >
                @GSCorentin
            </a>
        </p>
        <span
                class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start"
        >
      {
          social.map(({label, href, icon}) => (
                  <a
                          class="hover:bg-base-100 focus:outline-none focus:ring-4 focus:ring-secondary rounded-lg text-sm p-2.5 inline-flex items-center transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110"
                          aria-label={label}
                          title={label}
                          href={href}
                  >
                      <Icon class="w-5 h-5 " name={icon}/>
                  </a>
          ))
      }
    </span>
    </div>
</footer>
